<!-- <div class="row justify-content-center" *ngIf="products.length > 0" id="latestCarousel">
    <carousel [itemsPerSlide]="itemsPerSlide" [isAnimated]="true" [singleSlideOffset]="singleSlideOffset"
        [interval]="false" id="latestCarousel">
        <div class="carousel-inner" style="display: flex;">
            <slide *ngFor="let product of products">
                <span *ngIf="product.primaryProductImage"  [routerLink]="['/app/home/detail',product.id]">
                    <img class="cursor-pointer" [src]="product.primaryProductImage" alt="image slide" style="display: block; width: 100%;">
                </span>
                <span *ngIf="!product.primaryProductImage"  [routerLink]="['/app/home/detail',product.id]">
                    <img class="cursor-pointer" src="assets/img/featured/img-1.jpg" alt="image slide" style="display: block;width: 265px;">
                </span>
                <div class="cards-content">
                    <h3 class="no-margin productModel" 
                    [routerLink]="['/app/home/detail',product.id]">
                        <a class="cursor-pointer"> {{product.productModelName}}</a>
                    </h3>
                    <div class="generic-green">
                        {{product.price}}
                    </div>
                    <div class="generic-gray">Karachi</div>
                </div>
            </slide>
        </div>
    </carousel>
</div> -->
<section class="featured-lis section-padding pt-0" style="background-color: white;" *ngIf="products.length > 0">
    <div class="container">
        <div class="row justify-content-center d-flex">
            <div class="col-3 wow fadeIn justify-content-center d-flex" data-wow-delay="0.5s"
                *ngFor="let product of products">
                <div class="item">
                    <div class="product-item" style="box-shadow: 0px 2px 7px 7px lightgrey;
                    ">
                        <div class="carousel-thumb">
                            <span *ngIf="!product.primaryProductImage">
                                <img class="img-fluid" src="assets/img/product/img1.jpg" alt="">
                            </span>
                            <span *ngIf="product.primaryProductImage">
                                <img class="img-fluid" [src]="product.primaryProductImage" alt="">
                            </span>
                            <div class="overlay">
                                <div>
                                    <a class="btn btn-common" [routerLink]="['/app/home/detail',product.id]">View
                                        Details</a>
                                </div>
                            </div>
                            <!-- <div class="btn-product bg-sale">
                                <a href="#">Sale</a>
                            </div> -->
                        </div>
                        <div class="product-content">
                            <h2 class="fs-20"> Rs.{{product.price | number}}
                            </h2>
                            <h3 class="product-title"><a href="ads-details.html">{{product.productModelName}}</a></h3>
                            <span>{{product.productCompanyName}}</span>
                            <!-- <div class="icon">
                                <span><i class="lni-bookmark"></i></span>
                                <span><i class="lni-heart"></i></span>
                            </div> -->
                            <div class="card-text">
                                <div class="float-left">
                                    <!-- <span class="icon-wrap">
                                        <i class="lni-star-filled"></i>
                                        <i class="lni-star-filled"></i>
                                        <i class="lni-star-filled"></i>
                                        <i class="lni-star-filled"></i>
                                        <i class="lni-star-filled"></i>
                                        <i class="lni-star"></i>
                                    </span> -->
                                    <span class="count-review">
                                        ({{product.views}} views)
                                    </span>
                                </div>
                                <div class="float-right" *ngIf="product.city">
                                    <a class="address" href="#"><i class="lni-map-marker"></i>{{product.city}}</a>
                                </div>

                            </div>
                            <div class="col-12 date-end">
                                {{product.creationTime.fromNow()}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>