<div class="form-group mb-50 text-center" *ngIf="states.length">
    <p-dropdown [options]="states" [(ngModel)]="selectedState" optionLabel="name" name="states"
        [style]="{'width':'100%'}" (onChange)="onStateSelect($e)" placeholder="Select a State" [filter]="true">
    </p-dropdown>

</div>

<div class="form-group mb-50 text-center" *ngIf="city && city.length > 0">
    <p-dropdown [options]="city" [(ngModel)]="selectedCity" optionLabel="name" name="city" [style]="{'width':'100%'}"
        placeholder="Select a City" (onChange)="onCitySelect()" [filter]="true">
    </p-dropdown>

</div>

<div class="form-group mb-50 text-center" *ngIf="neighbourhood && neighbourhood.length > 0">
    <p-dropdown [options]="neighbourhood" [(ngModel)]="selectedNeighbourhood" optionLabel="name" name="neighbourhood"
        (onChange)="onSelectNeighbourhood()" [style]="{'width':'100%'}" placeholder="Select a Neighbourhood"
        [filter]="true">
    </p-dropdown>

</div>