/* .img-box{
  width: 60px;
} */
.categories-icon .icon-box:hover {  box-shadow:0px 2px 7px 7px lightgrey;background: white;}
/* .icon-box:hover{background:#e91e63;box-shadow:0 16px 20px 0 rgba(216,216,216,.75)} */
.categories-icon .icon-box:hover h4{font-weight: bold}
.categories-icon .icon-box{
  background: #F0F0F0;
}
.center{
  display: flex;
  justify-content: center;
}
.badge-style{
  font-size: 10px;
    font-weight: normal;
    margin-left: 7px;
    color: white !important;
    padding: 5px;
}
#latestCarousel .carousel-item {
  margin: 10px;
  /* border: 1px solid gray; */
}
#latestCarousel .carousel-indicators{
  display: none;
}
 .cards-content {
  padding: 10px;
  color: #434343;
  border: 1px solid #EAEDEF;
  background-color: #fff;
}
.generic-green{
  color: #3eb549;
}
.generic-gray{
  color: #7b8397;
}
.no-margin{
  margin:0px
}
.productModel{
  color: #233d7b;
  font-size:15px
}
