<div class="main-container section-padding" style="margin-top:20px">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-12 col-xs-12 page-sidebar">
                <aside>
                    <div class="widget categories">
                        <div class="row" style="padding: 20px;
                        ">
                            <div class="col-8">
                                <h4 class="" style="
                                font-size: 20px;">All Categories</h4>
                            </div>
                            <div class="col-4" style="color: black;cursor: pointer;text-align:end;    padding: 1px 10px 0px 0px;
                            " (click)="resetLeftFilters()">
                                Reset<i class="far fa-trash-alt" style="padding-left:5px"></i></div>
                        </div>


                        <div class="" style="padding: 0px 10px;">
                            <label class="control-label fontColor">Spot</label><br>
                            <span class="" *ngFor="let bool of booleanEnum">
                                <label class="control-label p-2">{{bool.name}}</label>
                                <input type="radio" [value]="bool" name="isSpot" [(ngModel)]="isSpot"
                                    (change)="onSelectFilter($event)">
                            </span>

                            <span *ngIf="isSpot && isSpot['value'] == 1">
                                <input class="form-control input-md" name="Title" placeholder="0%" type="text">
                            </span>
                            <div>
                                <hr>
                            </div>
                        </div>
                        <div class="" style="padding: 0px 10px;">
                            <label class="control-label fontColor">Damage</label><br>
                            <span class="" *ngFor="let bool of booleanEnum">
                                <label class="control-label p-2">{{bool.name}}</label>
                                <input type="radio" [value]="bool" name="isDamaged" (change)="onSelectFilter($event)"
                                    [(ngModel)]="isDamage">
                            </span>

                            <span *ngIf="isSpot && isSpot['value'] == 1">
                                <input class="form-control input-md" name="Title" placeholder="0%" type="text">
                            </span>
                            <div>
                                <hr>
                            </div>
                        </div>

                        <div style="padding: 0px 10px;">
                            <label class="control-label fontColor">Rom</label>
                            <!-- <ul class="pl-2">
                                <li id="product-{{rom.id}}" *ngFor="let rom of ram">
                                    <span>
                                        <input type="checkbox" [value]="rom"></span> {{rom.name}}
                                </li>
                            </ul> -->
                            <span class="" *ngFor="let rom of ram">
                                <label class="control-label p-2">{{rom.name}}</label>
                                <input type="radio" [value]="rom" name="isRam" (change)="onSelectFilter($event)"
                                    [(ngModel)]="selectedRam">
                            </span>

                            <div>
                                <hr>
                            </div>
                        </div>
                        <div style="padding: 0px 10px;">
                            <label class="control-label fontColor">Storage</label>
                            <span class="" *ngFor="let store of storage">
                                <label class="control-label p-2">{{store.name}}</label>
                                <input type="radio" [value]="store" name="isStore" (change)="onSelectFilter($event)"
                                    [(ngModel)]="selectedStorage">
                            </span>
                            <div>
                                <hr>
                            </div>
                        </div>
                        <div class="" style="padding: 0px 10px;">
                            <label class="control-label fontColor">Item Condition</label><br>
                            <span class="" *ngFor="let cond of condition">
                                <label class="control-label p-2">{{cond.name}}</label>
                                <input type="radio" [value]="cond" name="isUsed" (change)="onSelectFilter($event)"
                                    [(ngModel)]="isNew">
                            </span>

                            <div>
                                <hr>
                            </div>
                        </div>
                        <div class="" style="padding: 0px 10px;">
                            <label class="control-label fontColor">PTA status</label><br>
                            <span class="" *ngFor="let bool of booleanEnum">
                                <label class="control-label p-2">{{bool.name}}</label>
                                <input type="radio" [value]="bool" name="isPTAapproved"
                                    (change)="onSelectFilter($event)" [(ngModel)]="isPTAapproved">
                            </span>

                            <div>
                                <hr>
                            </div>
                        </div>
                        <div class="" style="padding: 0px 10px;">
                            <label class="control-label fontColor">Price</label><br>
                            <p-slider [(ngModel)]="rangeValues" [range]="true"
                                [style]="{'width':'90%','margin':'10px auto'}" [min]="0" [max]="5000"
                                name="rangeSlider">
                            </p-slider>
                            <div class="pl-2">
                                <label style="margin-top: 5px;">
                                    {{rangeValues[0] + ' Rs  - ' + rangeValues[1] + ' Rs'}}</label>
                            </div>

                            <div>
                                <hr>
                            </div>
                        </div>
                        <div class="" style="padding: 0px 10px;">
                            <label class="control-label fontColor">Negotiable in price</label><br>
                            <span class="" *ngFor="let bool of booleanEnum">
                                <label class="control-label p-2">{{bool.name}}</label>
                                <input type="radio" [value]="bool" name="isNegotiable" (change)="onSelectFilter($event)"
                                    [(ngModel)]="isNegotiable">
                            </span>

                            <div>
                                <hr>
                            </div>
                        </div>
                        <div class="" style="padding: 0px 10px;">
                            <label class="control-label fontColor">Change with other phone</label><br>
                            <span class="" *ngFor="let bool of booleanEnum">
                                <label class="control-label p-2">{{bool.name}}</label>
                                <input type="radio" [value]="bool" name="isExchangeable"
                                    (change)="onSelectFilter($event)" [(ngModel)]="isExchangeable">
                            </span>

                            <div>
                                <hr>
                            </div>
                        </div>

                    </div>

                    <div class="widget">
                        <h4 class="widget-title">Advertisement</h4>
                        <div class="add-box">
                            <img class="img-fluid" src="assets/img/img1.jpg" alt="">
                        </div>
                    </div>
                </aside>
            </div>
            <div class="col-lg-9 col-md-12 col-xs-12 page-content">
                <div class="" style="margin-bottom:0px">
                    <form role="search" id="search-form">
                        <input type="search" class="form-control" autocomplete="off" name="s" placeholder="Search..."
                            id="search-input" value="" [(ngModel)]="searchFilter">
                        <button type="submit" id="search-submit" class="search-btn"><i class="lni-search"></i></button>
                    </form>
                </div>
                <div class="product-filter section-filter-bg" style="margin-bottom:0px"
                    *ngIf="productBrandsLength && productBrandsLength > 0">

                    <div class="row ">
                        <div class="flex-center search-by-filter" style="margin:auto">
                            Search By Filter
                        </div>
                        <div class="flex-center" style="float:right;color: black;cursor: pointer;"
                            (click)="resetRightFilters()">
                            Reset Filters <i class="far fa-trash-alt" style="padding-left: 7px;
                            padding-top: 2px;"></i></div>
                    </div>


                    <div class="row flex-center">
                        <div class="col-1 brand-box" (click)="onSelectBrand(products.id)"
                            *ngFor="let products of productBrands" [ngClass]="
                        highlightedRows[0] ===
                        products.id
                            ? 'selected'
                            : ''
                    ">
                            {{products.name}}
                        </div>
                    </div>
                </div>
                <div class="product-filter">

                    <div class="row" style="margin:auto">
                        <div class="short-name col-4 pt-2">
                            <span>Showing (1 - 12 of {{productsLength}} products)</span>
                        </div>
                        <div class="short-name col-6">

                            <label class="control-label fontColor ml-2-mr-2">Sort by</label>
                            <!-- <br> -->
                            <button class="btn bt-primary ml-2-mr-2">Price</button>
                            <button class="btn bt-primary ml-2-mr-2">Number</button>
                            <button class="btn bt-primary ml-2-mr-2">Recent</button>
                        </div>
                        <div class="col-2 pt-2">

                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#grid-view"><i class="lni-grid"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#list-view"><i
                                            class="lni-list"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>


                    <div class="adds-wrapper">
                        <div class="tab-content">
                            <div id="grid-view" class="tab-pane fade active show">
                                <div class="row flex-center mt-5" *ngIf="!isProgress">
                                    <p-progressSpinner></p-progressSpinner>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" *ngFor="let product of products">
                                        <div class="featured-box" *ngIf="isProgress">
                                            <figure>
                                                <span class="price-save">
                                                    30% Save
                                                </span>
                                                <div class="icon">
                                                    <span class="bg-green"><i class="lni-heart"></i></span>
                                                    <span><i class="lni-bookmark"></i></span>
                                                </div>
                                                <a href="#"><img class="img-fluid" style="width:100%;height:200px"
                                                        src="../../../assets/img/phone-img/demo.jpg_.webp" alt=""></a>
                                            </figure>
                                            <div class="feature-content">
                                                <div class="product">
                                                    <a href="#">Electronic > </a>
                                                    <a href="#">Apple</a>
                                                </div>
                                                <h4><a href="ads-details.html">{{product.productModelName}}</a></h4>
                                                <div class="meta-tag">
                                                    <span>
                                                        <a href="#"><i class="lni-user"></i> John Smith</a>
                                                    </span>
                                                    <span>
                                                        <a href="#"><i class="lni-map-marker"></i> New York, US</a>
                                                    </span>
                                                    <span>
                                                        <a href="#"><i class="lni-tag"></i> Apple</a>
                                                    </span>
                                                </div>
                                                <!-- <p class="dsc">Lorem Ipsum is simply dummy text of the printing and
                                                typesetting industry. Lorem Ipsum has been the industry.</p> -->
                                                <div class="listing-bottom">
                                                    <h3 class="price float-left">Rs.{{product.price}}</h3>
                                                    <a href="" class="btn btn-common float-right">View
                                                        Details</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="list-view" class="tab-pane fade">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="featured-box">
                                            <figure>
                                                <span class="price-save">
                                                    10% Save
                                                </span>
                                                <div class="icon">
                                                    <span class="bg-green"><i class="lni-heart"></i></span>
                                                    <span><i class="lni-bookmark"></i></span>
                                                </div>
                                                <a href="#"><img class="img-fluid" src="assets/img/featured/img-1.jpg"
                                                        alt=""></a>
                                            </figure>
                                            <div class="feature-content">
                                                <div class="product">
                                                    <a href="#">Electronic > </a>
                                                    <a href="#">Apple</a>
                                                </div>
                                                <h4><a href="ads-details.html">Canon SX Powershot ...</a></h4>
                                                <div class="meta-tag">
                                                    <span>
                                                        <a href="#"><i class="lni-user"></i> John Smith</a>
                                                    </span>
                                                    <span>
                                                        <a href="#"><i class="lni-map-marker"></i> New York, US</a>
                                                    </span>
                                                    <span>
                                                        <a href="#"><i class="lni-tag"></i> Apple</a>
                                                    </span>
                                                </div>
                                                <p class="dsc">Lorem Ipsum is simply dummy text of the printing and
                                                    typesetting industry. Lorem Ipsum has been the industry.</p>
                                                <div class="listing-bottom">
                                                    <h3 class="price float-left">$249.00</h3>
                                                    <a href="ads-details.html" class="btn btn-common float-right">View
                                                        Details</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="featured-box">
                                            <figure>
                                                <div class="icon">
                                                    <span class="bg-green"><i class="lni-heart"></i></span>
                                                    <span><i class="lni-bookmark"></i></span>
                                                </div>
                                                <a href="#"><img class="img-fluid" src="assets/img/featured/img-2.jpg"
                                                        alt=""></a>
                                            </figure>
                                            <div class="feature-content">
                                                <div class="product">
                                                    <a href="#">Electronic > </a>
                                                    <a href="#">Apple</a>
                                                </div>
                                                <h4><a href="ads-details.html">Apple Macbook Pro ...</a></h4>
                                                <div class="meta-tag">
                                                    <span>
                                                        <a href="#"><i class="lni-user"></i> John Smith</a>
                                                    </span>
                                                    <span>
                                                        <a href="#"><i class="lni-map-marker"></i> New York, US</a>
                                                    </span>
                                                    <span>
                                                        <a href="#"><i class="lni-tag"></i> Apple</a>
                                                    </span>
                                                </div>
                                                <p class="dsc">Lorem Ipsum is simply dummy text of the printing and
                                                    typesetting industry. Lorem Ipsum has been the industry.</p>
                                                <div class="listing-bottom">
                                                    <h3 class="price float-left">$289.00</h3>
                                                    <a href="ads-details.html" class="btn btn-common float-right">View
                                                        Details</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="featured-box">
                                            <figure>
                                                <span class="price-save">
                                                    30% Save
                                                </span>
                                                <div class="icon">
                                                    <span class="bg-green"><i class="lni-heart"></i></span>
                                                    <span><i class="lni-bookmark"></i></span>
                                                </div>
                                                <a href="#"><img class="img-fluid" src="assets/img/featured/img-3.jpg"
                                                        alt=""></a>
                                            </figure>
                                            <div class="feature-content">
                                                <div class="product">
                                                    <a href="#">Electronic > </a>
                                                    <a href="#">Apple</a>
                                                </div>
                                                <h4><a href="ads-details.html">Mercedes Benz E200 ...</a></h4>
                                                <div class="meta-tag">
                                                    <span>
                                                        <a href="#"><i class="lni-user"></i> John Smith</a>
                                                    </span>
                                                    <span>
                                                        <a href="#"><i class="lni-map-marker"></i> New York, US</a>
                                                    </span>
                                                    <span>
                                                        <a href="#"><i class="lni-tag"></i> Apple</a>
                                                    </span>
                                                </div>
                                                <p class="dsc">Lorem Ipsum is simply dummy text of the printing and
                                                    typesetting industry. Lorem Ipsum has been the industry.</p>
                                                <div class="listing-bottom">
                                                    <h3 class="price float-left">$199.80</h3>
                                                    <a href="ads-details.html" class="btn btn-common float-right">View
                                                        Details</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="featured-box">
                                            <figure>
                                                <div class="icon">
                                                    <span class="bg-green"><i class="lni-heart"></i></span>
                                                    <span><i class="lni-bookmark"></i></span>
                                                </div>
                                                <a href="#"><img class="img-fluid" src="assets/img/featured/img-4.jpg"
                                                        alt=""></a>
                                            </figure>
                                            <div class="feature-content">
                                                <div class="product">
                                                    <a href="#">Electronic > </a>
                                                    <a href="#">Apple</a>
                                                </div>
                                                <h4><a href="ads-details.html">Brown Leather Bag ...</a></h4>
                                                <div class="meta-tag">
                                                    <span>
                                                        <a href="#"><i class="lni-user"></i> John Smith</a>
                                                    </span>
                                                    <span>
                                                        <a href="#"><i class="lni-map-marker"></i> New York, US</a>
                                                    </span>
                                                    <span>
                                                        <a href="#"><i class="lni-tag"></i> Apple</a>
                                                    </span>
                                                </div>
                                                <p class="dsc">Lorem Ipsum is simply dummy text of the printing and
                                                    typesetting industry. Lorem Ipsum has been the industry.</p>
                                                <div class="listing-bottom">
                                                    <h3 class="price float-left">$206.90</h3>
                                                    <a href="ads-details.html" class="btn btn-common float-right">View
                                                        Details</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="no-record-section" *ngIf="productsLength == 0 && isProgress">

                                <div class="no-record-found ">
                                    No product related to this search

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>