h5{
  color: black;
  font-weight: 500;
}
div{
  font-size: 14px;
}

.nav-slider .nav-item {
  display: inline-block;
  font-size: 14px;
  padding: 15px 5px;
  margin-right: 5px;
  color: #666;
  cursor: pointer;
}
.nav-slider .nav-item a {
  color: #666;
}
.nav-slider{
  border-bottom: 2px solid #ddd;
}
.nav-slider .nav-item:hover{
  color:#e91e63;
  border-bottom: 1px solid #e91e63;
}
.nav-slider .nav-item a:hover{
  color:#e91e63;
}
.product-detail-heading{
  font-size: 24px;
  color: #53647a;
  padding-top: 8px;
  margin-bottom: 15px;
  margin-left: 15px;
  border-bottom: 2px dashed #53647a;
}
.product-detail-sub-heading{
  font-size: 16px;
  color: black;
  font-weight: 600;
}
.product-detail-text{
  font-size: 14px;
  color: #666;
}

.icon-magnifier {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-position: -20px -20px;
  vertical-align: middle;
  margin-right: 3px;
}
.overviewText-la{
font-size: 14px;
color:#666;

}

.overviewText-li{
font-size: 14px;
  color:black;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.send-reply-btn{
  border: 1px solid #e91e63;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 12px;
  color: white;
  background: #e91e63;
}
.page-height{
  display: flex;
  justify-content: center;
  margin-bottom: 200px;
  margin-top: 200px;
}
.selectedImg{
  border: 1px solid #e91e63;
}